h1 {
   font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#Artinev {
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 35px;
}

.titoli {
    color: orangered;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p {
font-size: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    background-color: aqua;
}

a:hover {
    background-color: chartreuse;
}

.imgsfondo {
    background-image: url(./media/sfondo.jpg);
}